#directories
node_modules/
api/
testingStuff.js
classList.json
tableFromJson.js
classList_old.json
test*.*
convert
dist/

#env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

#zip files
tailwindinline-v0.3.7-beta.9.tgz
tailwindinline-v0.3.7-beta.8.tgz
tailwindinline-v0.3.7-beta.7.tgz
tailwindinline-v0.3.7-beta.6.tgz
tailwindinline-v0.3.7-beta.5.tgz
tailwindinline-v0.3.7-beta.4.tgz
tailwindinline-v0.3.7-beta.3.tgz
tailwindinline-v0.3.7-beta.2.tgz
tailwindinline-v0.3.7-beta.1.tgz
tailwindinline-v0.3.6.tgz
tailwindinline-v0.3.5.tgz
tailwindinline-v0.3.4.tgz
tailwindinline-v0.3.3.tgz
tailwindinline-v0.3.2.tgz
tailwindinline-v0.3.1.tgz
tailwindinline-v0.3.0.tgz
tailwindinline-v0.2.9.tgz
tailwindinline-v0.2.8.tgz
tailwindinline-v0.2.7.tgz
tailwindinline-v0.2.6.tgz
tailwindinline-v0.2.5.tgz
tailwindinline-v0.2.4.tgz
tailwindinline-v0.2.3.tgz
tailwindinline-v0.2.2.tgz
tailwindinline-v0.2.1.tgz
tailwindinline-v0.2.0.tgz
tailwindinline-v0.1.9.tgz
tailwindinline-v0.1.8.tgz
tailwindinline-v0.1.7.tgz
tailwindinline-v0.1.6.tgz
tailwindinline-v0.1.5.tgz
tailwindinline-v0.1.4.tgz
tailwindinline-v0.1.3.tgz
tailwindinline-v0.1.2.tgz
tailwindinline-v0.1.1.tgz
tailwindinline-v0.1.0.tgz
